<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Spring Security Oauth - Authorization Code</a>
        </div>
    </div>
</nav>
<h1>Spring Boot Angular Pagination Example App</h1>
<nav>
    <ul>
        <li><a routerLink="/todos1" routerLinkActive="active">DataTable Pagination Example</a></li>
        <li><a routerLink="/todos2" routerLinkActive="active">Normal Table Example</a></li>
        <home-header></home-header>
    </ul>
</nav>
<router-outlet></router-outlet>
