version: '3'

#volumes:
#  mysql_data:
#    driver: local

services:

  #  mysql:
  #    image: mysql:5.7
  #    volumes:
  #      - mysql_data:/var/lib/mysql
  #    environment:
  #      MYSQL_ROOT_PASSWORD: root
  #      MYSQL_DATABASE: keycloak
  #      MYSQL_USER: keycloak
  #      MYSQL_PASSWORD: password
  #    networks:
  #      mynet:

  keycloak:
    image: jboss/keycloak:10.0.2
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KEYCLOAK_IMPORT_REALM: /keycloakConfig/gliwson-realm.json
    #      DB_VENDOR: MYSQL
    #      DB_ADDR: mysql
    #      DB_DATABASE: keycloak
    #      DB_USER: keycloak
    #      DB_PASSWORD: password
    ports:
      - 8080:8080
    networks:
      mynet:
  #    depends_on:
  #      - mysql

#  backend:
#    build:
#      context: ./backend
#      dockerfile: Dockerfile
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/powerStation?serverTimezone=UTC
#      SPRING_DATASOURCE_USERNAME: "root"
#      SPRING_DATASOURCE_PASSWORD: "root"
#      SPRING_REDIS_HOST: redis
#      KEYCLOAK_AUTH-SERVER-URL: http://keycloak:8080/auth
#      spring.rabbitmq.host: host.docker.internal
#    ports:
#      - "8085:8085"
#    networks:
#      mynet:
#    depends_on:
#      - redis
#      - database
#      - frontend
#      - keycloak

  database:
    container_name: 'database'
    image: 'mysql:latest'
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=root
      - MYSQL_DATABASE=powerStation
    ports:
      - "3306:3306"
    networks:
      mynet:

  redis:
    container_name: 'redis'
    image: redis
    ports:
      - "6379:6379"
    networks:
      mynet:

#  frontend:
#    build:
#      context: ./frontend
#      dockerfile: Dockerfile
#    ports:
#      - "4200:4200"
#    networks:
#      mynet:

networks:
  mynet:
