<mat-card class="example-card">
    <form class="example-form">

        <mat-card-header>
            <mat-card-title>Numer Zgłoszenia: {{task.id}}</mat-card-title>
            <mat-card-subtitle>Nazwa Elektrowni: {{task.namePowerStation}}</mat-card-subtitle>
        </mat-card-header>

        <mat-form-field>
            <mat-label>Ubytek Mocy</mat-label>
            <input matInput type="number" placeholder="podaj moc" [(ngModel)]="task.powerLoss" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Typ zadania</mat-label>
            <mat-select [(value)]="selectTaskType">
                <mat-option *ngFor="let symbol of keys(taskType)" [value]="taskType[symbol]">{{symbol}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Zgłoszono</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}"/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Zakończono</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}"/>
        </mat-form-field>
        <mat-card-actions>
            <button class="rounded float-right" mat-raised-button color="warn"
                    (click)="save()">Zapisz
            </button>
            <button class="rounded float-right" mat-raised-button color="primary" (click)="goToList()">Cofnij</button>
        </mat-card-actions>
    </form>
</mat-card>

