<div>
    <table class="mat-table">
        <thead>
        <tr class="mat-header-row">
            <th class='mat-header-cell'>Id</th>
            <th class='mat-header-cell'>Name Power Station</th>
            <th class='mat-header-cell'>Power Loss</th>
            <th class='mat-header-cell'>Task Type</th>
            <th class='mat-header-cell'>Start Date</th>
            <th class='mat-header-cell'>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="mat-row" *ngFor="let task of tasks">
            <td class="mat-cell">{{task?.id}}</td>
            <td class="mat-cell">{{task?.namePowerStation}}</td>
            <td class="mat-cell">{{task?.powerLoss}}</td>
            <td class="mat-cell">{{task?.taskType}}</td>
            <td class="mat-cell">{{task?.startDate | date}}</td>
            <td class="mat-cell">{{task?.endDate | date}}</td>
        </tr>
        </tbody>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="totalElements"
                   (page)="nextPage($event)">

    </mat-paginator>
</div>
